*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0f0f0f;

color:white;

font-family:sans-serif;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.75)
);

}

.overlay{

max-width:900px;

}

.hero h1{

font-size:3rem;

margin-bottom:20px;

}

.hero p{

font-size:1.1rem;

opacity:.85;

}

.scroll{

margin-top:40px;

opacity:.6;

}
